.sideBar {
  min-height: 100vh;
  width: 20%;
  background-color: #EEF2F3;
  padding: 50px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_wrapper {
    .subBlocks {
      margin-left: 5px;
    }
  }
}

.menu {
  font-size: 18px;

  &-block {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    margin-top: 40px;
  }
}

.logo-block {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoImg {
  width: 30px;
  height: 30px;
}


.title-logo {
  font-size: 22px;
  font-weight: 500;
  color: #3967DF;
}

.logout {
  color: #D05E5C;

  svg path {
    stroke: #D05E5C
  }
}