.weatherTemperature {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  color: #fff;

  &-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.weatherImg {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.temp {
  font-size: 45px;
  font-weight: 400;
}