.card {
  padding: 20px 0;
  min-height: 300px;
  display: grid;
  place-items: center;

  &-wrapper {
    width: 495px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: calc(.5rem - 1px);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    &_hBlock {
      padding: 24px;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      color: #fff;
    }
  }
}