.title {

  &-fw500 {
    font-weight: 500;
    font-size: 2rem;
  }

  &-fw700 {
    font-weight: 700;
  }

  &-justFw500 {
    font-weight: 500;
    font-size: 18px;
  }
}

.sub-title {
  font-size: 15px;
  font-weight: 400;
  color: #A2A6A9;
}