.inputLabel {
  text-align: left;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 8px 8px 4px 8px;
  position: relative;
  transition: border .3s ease;

  &-active {
    position: relative;
    transition: border .3s ease;
    border: 1px solid #000;
  }

  .input {
    padding: 5px;
  }
}

.label {
  display: block;
  font-size: 13px;
}