.content {
  margin-top: 20px;

  .title-justFw500 {
    color: #25394e;
    font-size: 21px;
  }
}

.weather_block {
  margin-top: 20px;

  .title-justFw500 {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
  }
}