.tableDays {
  padding: 24px;
  margin-bottom: 8px;
  border-bottom: 1px solid #f5f5f5;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    color: #fff;
    width: 100%;
    row-gap: 23px;
    column-gap: 8px;
  }
}

.row {
  grid-row-start: 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 8px;

}

.box {
  text-align: center;
  font-weight: 700;
}