.header {
  padding: 50px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: -15px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(162, 166, 169, .2);
  }

}

.dateMonth {
  color: #25394e;
}

.header_data {
  margin-left: 30px;
  display: grid;
  grid-template: 1fr / 185px 35px 35px;
  align-items: center;
  gap: 10px;

  &-block {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: darken(#FCFCFC, 1%);

  }
}

.searchBlock {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-search {
  width: 100%;
  padding-left: 25px;
}

.active-header {
  background-color: #17397B;
  transition: background-color .3s ease-in-out;
}

.isUser {
  background-color: #1E365F;
}